class Example extends React.Component {

  render() {
    const textareaStyle = {
      padding: '10px 8px',
      border: '1px solid rgba(39,41,43,.15)',
      borderRadius: 4,
      fontSize: 15,
      width: 300
    };

    return (
      <div>
        <h2>Prefilled</h2>
        <TextareaAutosize style={textareaStyle} defaultValue={'this\nis\na\nlong\ninitial\ntext'}/>
      </div>
    );
  }

}
